services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    environment:
      - ZOOKEEPER_CLIENT_PORT=2181
    ports:
      - "2181:2181"
  kafka:
    image: confluentinc/cp-kafka:7.0.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_BROKER_ID: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - email
      - sms
      - api
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3002:3000"
    depends_on:
      - prometheus
      - tempo
    volumes:
      - grafana-storage:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    ports:
      - "1025:1025"
      - "8025:8025"
  api:
    build:
      context: .
      dockerfile: deployments/Dockerfile.api
    ports:
      - "3000:3000"
    env_file:
      - ".env"
    depends_on:
      - kafka
    volumes:
      - ./config.yaml:/config.yaml
      - ./openapi.yaml:/openapi.yaml
  email:
    build:
      context: .
      dockerfile: deployments/Dockerfile.email
    ports:
      - "3001:3001"
    environment:
      - KAFKA_BROKER=kafka:9092
    env_file:
      - ".env"
    depends_on:
      - kafka
      - mailpit
    volumes:
      - ./config.yaml:/config.yaml
  sms:
    build:
      context: .
      dockerfile: deployments/Dockerfile.sms
    ports:
      - "3003:3003"
    environment:
      - KAFKA_BROKER=kafka:9092
    env_file:
      - ".env"
    depends_on:
      - kafka
    volumes:
      - ./config.yaml:/config.yaml

  postgres:
    image: postgres:15
    container_name: signalbus
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: signalbus
      POSTGRES_DB: signalbus
    volumes:
      - signalbus-data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: unless-stopped
  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317"
      - "55681:55681"
  tempo:
    image: grafana/tempo:2.8.1
    container_name: tempo
    ports:
      - "3200:3200"
    command: -config.file=/etc/tempo/config.yaml
    volumes:
      - ./tempo-config.yaml:/etc/tempo/config.yaml

volumes:
  grafana-storage:
  signalbus-data:
  redis-data:
