server:
  http_listen_port: 3200
  grpc_listen_port: 4318

ingester:
  max_block_bytes: 104857600

storage:
  trace:
    backend: local
    local:
      path: /tmp/tempo/traces

compactor:
  compaction:
    block_retention: 24h
